<h1>About this app</h1>
<p class = 'about-text'>

    This is an angular app created by me, Kameron Bourgeois, to try and cover all the important concepts of Angular.
    It uses two APIs to function. Geonames.org is being used for translating location names into coordnates and
    open openweathermap.org is used for determining the weather.

</p>

<div class = 'center-gif'>
<iframe src="https://giphy.com/embed/yYSSBtDgbbRzq" width="300" height="360" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
</div>