<h1>About this app</h1>
<p class = 'about-text'>

    This is an angular app created by me, Kameron Bourgeois, to try and cover all the important concepts of Angular.
    Backend is built with ASP.NET Core 3.1 and is using an Azure SQL Database. 
    Backend repo can be found <a target = "_blank" style = 'font-weight: bold; color: white;' href="https://github.com/Kameron2442/WeatherFinderAPI">Here.</a>
    This app also uses Geonames.org for translating location names into coordnates and
    open openweathermap.org for determining the weather. 

</p>

<div class = 'center-gif'>
<iframe src="https://giphy.com/embed/yYSSBtDgbbRzq" width="300" height="360" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
</div>