.max-width{
    max-width: 800px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.some-margin{
    margin:20px;
}

.nav{
    background-color: white;
    height: 65px;
    margin-bottom: 35px;
}

.nav-title{
    margin:0px;
    font-size: 30px;
    padding-left: 20px;
    line-height: 65px;
    color: #3F51B5;
    font-weight: 600;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2);

}