.mybackground{
    background-color: white;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    margin-top: 15px;
    padding:25px;
    height: 150px;
    text-decoration: none;
    color: #2e2e2e;
    text-align: center;
    position: relative;
}

.loc-name{
    font-size: 25px;
    margin:0px;
    text-align: center;
}

.w-block{
    display: inline-block;
    width: 150px;
    text-align: left;
}

.exit-out{
    position: absolute;
    top: 0px;
    right: 0px;
    margin-top: 20px;
    margin-right: 20px;
    font-size: 30px;
    line-height: 30px;
    font-weight: 700;
    text-decoration: none;
}