.mybackground{
    background-color: white;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    margin-top: 15px;
    padding:25px;
    height: 200px;
    text-decoration: none;
    color: #2e2e2e;
    text-align: center;
    position: relative;
    margin-bottom: 80px;
}

.loc-name{
    font-size: 25px;
    margin:0px;
    text-align: center;
}

.w-block{
    display: inline-block;
    width: 150px;
    text-align: left;
}

.exit-out{
    position: absolute;
    top: 0px;
    right: 0px;
    margin-top: 20px;
    margin-right: 20px;
    font-size: 30px;
    line-height: 30px;
    font-weight: 700;
    text-decoration: none;
}

.blue-btn{
    background-color: #3F51B5;
    display: inline-block;
    width: 100px;
    text-align: center;
    font-weight: 600;
    color: white;
    padding: 10px 15px 10px 15px;
    border-radius: 8px;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2);
    text-decoration: none;
    cursor: pointer;
    margin: 10px;
}